<h3>This is going to show all the old comments </h3>
<%= post.comments.count %>
<%= post.comments.each { |comment|
  p comment.body } %>

  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
         <p><%=  post.comments %></p>

       </h4>
        <small>
         submitted by
         <%= current_user.name %><br/>
       </small>
    </div>
  </div>
