<h3>Comments: </h3>
  <div class="media">

    <div class="media-body">
      <p class="media-heading">
         <% post.comments.each do |comment| %>
              <% unless current_user.nil? %>
                <p><%= comment.body  %>  <small><em><%= current_user.name %></em></small>
                  <% if policy(comment).destroy? %>
                    | <%= link_to "Delete", [@post, comment], method: :delete %>
                  <% end %>
                </p>
              <% end %>
         <% end %>
       <br/></p>

    </div>
  </div>
