

 <h1><%= post.markdown_title %></h1>

 <div class="form-group <%= @error_class %>">
   <%= f.label :title %>
   <%= f.text_field :title, class: 'form-control', placeholder: "Enter post title" %>
 </div>
