


<div class="row">

  <div class="col-md-8">
    <%= render partial: 'postmarkdown', locals: { post: @post } %>


    <%= render partial: 'comments/comment', locals: { topic: @topic, post: @post, comment: @comment } %>
    <% unless current_user.nil? %>
      <%= render partial: 'comments/form', locals: { topic: @topic, post: @post, comment: @comment } %>
    <% end %>
  </div>

  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
