@import "bootstrap";

 .user-info {
   margin-top: 9px;
 }

 .nav {
   margin-top: 5px;
 }

.vote-arrows {
   width: 40px;
   text-align: center;
 }

 .favorite {
   margin-top: 20px;
 }

.voted {
  opacity: 0.5;
}

.jumbotron {
  background: #efe92d;
}


.nav-bar > li > a:hover {
    background-color: #efe92d;
}

// body {
//   background: url('../app/assets/images/yellowflowers.jpg') no-repeat top center;
// }
